<%= form_for(@sketch) do |f| %>
  <% if @sketch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sketch.errors.count, "error") %> prohibited this sketch from being saved:</h2>

      <ul>
      <% @sketch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Vibration patterns:<br>
  <ol id="patterns" name="pattern">
  <% @patterns.each do |p| %>
    <li class="pattern" id="pat_<%= p.id %>" draggable="true" data-id=<%= p.id %> data-name=<%= p.name %>>
      <div class="row">
        <div class="col-md-3"><%= p.pretty_name %>
        </div>
        <div class="col-md-2">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
          <span id="test" class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
      </div>
    </li>
  <% end %>
  </ol>

  <%= f.label :click do %>Button single click should:<% end %>
  <%= f.select :click, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
  <br>

  <%= f.label :doubleclick do %>Button double click should:<% end %>
  <%= f.select :doubleclick, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
  <br>

  <%= f.label :longpressstart do %>Button click-and-hold should:<% end %>
  <%= f.select :longpressstart, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
  <br>

  <span data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Advanced Settings <span class="caret"></span>
  </span>
  <div class="collapse" id="collapseExample">
    Serial Console: <input type="radio" id="serial_console_true" value="true" checked name="sketch[serial_console]"><label for="serial_console_true">On</label></input>
    <input type="radio" id="serial_console_false" value="false" name="sketch[serial_console]"><label for="serial_console_false">Off</label></input>
    <br>

  <%= f.label :startup_sequence do %>When you turn on your Mod, it should:<% end %>
  <%= f.select :startup_sequence, { "Run the normal startup sequence" => "startup_sequence", "Run a vibration pattern" => "startup_pattern", "Do nothing" => "false"}, :selected => "startup_sequence" %>
    <br>

  <%= f.label :model do %>Model:<% end %>
  <%= f.select :model, { "Mod" => "BETA", "Mod Alpha" => "ALPHA" }, :selected => "BETA" %>
   <br>
    <%= f.label :config do %>Config JSON:<% end %><br>
    <%= f.text_area :config, rows: 20, cols: 80 %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
