<%= form_for(@sketch) do |f| %>
  <%= fields_for :config, @sketch.config do |c| %>
  <% if @sketch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sketch.errors.count, "error") %> prohibited this sketch from being saved:</h2>

      <ul>
      <% @sketch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Wiggles</h2>

  Vibration patterns on your Mod:<br>
  <ol id="patterns" name="pattern">
  <% @patterns.each_with_index do |p,i| %>
    <li class="pattern" id="comp_<%= p.id %>" draggable="true" data-id=<%= p.id %> data-name=<%= p.name %> data-category=<%= p.category %>>
      <div class="row">
        <div class="col-md-3"><%= p.pretty_name %>
        </div>
        <div class="col-md-2">
          <span class="glyphicon glyphicon-remove pattern-remove" aria-hidden="true"></span>
        </div>
      </div>
    </li>
  <% end %>
  </ol>
  <span id="add_patterns">Add more patterns...</span>

  <h2>Clicks</h2>

    <%= c.label :click do %>Button single click should:<% end %>
    <%= c.select :click, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
    <br>

    <%= c.label :doubleclick do %>Button double click should:<% end %>
    <%= c.select :doubleclick, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
    <br>

    <%= c.label :longpressstart do %>Button click-and-hold should:<% end %>
    <%= c.select :longpressstart, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
    <br>

  <h2>Accessories</h2>
  <span data-toggle="collapse" data-target="#nunchuck_settings" aria-expanded="false" aria-controls="nunchuck_settings">
    Nunchuck Settings <span class="caret"></span>
  </span>
  <div class="collapse" id="nunchuck_settings">
  <%= c.label :c_click do %>C Button click should:<% end %>
  <%= c.select :c_click, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
  <br>
  <%= c.label :z_click do %>Z Button click should:<% end %>
  <%= c.select :z_click, { "Move to next pattern" => "cycle_pattern", "Increase vibration power" => "increase_power", "Decrease vibration power" => "decrease_power", "Slow vibration down" => "increase_time", "Speed vibration up" => "decrease_time", "Stop all vibration" => "stop"}, :selected => "cycle_pattern" %>
  <br>
  <%= c.label :joy_y do %>Joystick up/down controls:<% end %>
  <%= c.select :joy_y, { "Speed" => "speed", "Power" => "power", "Noise" => "noise"}, :selected => "speed" %>
  <br>
  <%= c.label :joy_x do %>Joystick left/right controls:<% end %>
  <%= c.select :joy_x, { "Speed" => "speed", "Power" => "power", "Noise" => "noise"}, :selected => "power" %>
  <br>
  <%= c.label :tilt_x do %>Nunchuck tilt left/right controls:<% end %>
  <%= c.select :tilt_x, { "Speed" => "speed", "Power" => "power", "Noise" => "noise"}, :selected => "speed" %>
  <br>
  <%= c.label :tilt_y do %>Nunchuck tilt forward/back controls:<% end %>
  <%= c.select :tilt_y, { "Speed" => "speed", "Power" => "power", "Noise" => "noise"}, :selected => "speed" %>
  <br>
  </div>

  <br>

  <span data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Advanced Settings <span class="caret"></span>
  </span>
  <div class="collapse" id="collapseExample">
    Serial Console: <%= c.radio_button :serial_console, true, :checked => true %> 
    <%= c.label :serial_console, 'On', :value => true %>
    <%= c.radio_button :serial_console, false %>
    <%= c.label :serial_console, 'Off', :value => false %>
    <br>

  <%= c.label :startup_sequence do %>When you turn on your Mod, it should:<% end %>
  <%= c.select :startup_sequence, { "Run the normal startup sequence" => "startup_sequence", "Run a vibration pattern" => "startup_pattern", "Do nothing" => "false"}, :selected => "startup_sequence" %>
    <br>

  <%= f.label :model do %>Model:<% end %>
  <%= f.select :model, { "Mod" => "BETA", "Mod Alpha" => "ALPHA" }, :selected => "BETA" %>
   <br>
    <%= f.label :config do %>Config JSON:<% end %><br>
    <%= f.text_area :config, rows: 20, cols: 80 %><br>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="modal fade" id="new_pattern_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add vibration patterns...</h4>
      </div>
      <div class="modal-body">
        <ul id="new_pattern_list">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add patterns</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
