<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Your Mod</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
    <div class="col-md-6" id="pattern_info" >
      <% @patterns.each_with_index do |p,i| %>
      <% id = p.component_id %>
      <div id="pattern-<%= id %>" class="pattern-desc hidden" data-id="<%= id %>">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <%= p.pretty_name %>
              <span class="glyphicon glyphicon-play pattern-play" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5><%= p.description %></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12" id="settings-<%= id %>">
            <% options = @pattern_options[i] %>
            <% options.each do |opt| %>
              <%= opt[:name] %>
              <input type="range" value=<%= opt[:default] %> min=<%= opt[:min] %> max=<%= opt[:max] %> class="slider" id="pattern-<%= id %>-<%= opt[:name] %>">
              <br>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
     

  <%= link_to 'Show', @sketch %> |
  <%= link_to 'Back', sketches_path %>
</div>
