<p id="notice"><%= notice %></p>

<h1>Listing Components</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.category %></td>
        <td><%= link_to 'Edit', edit_api_v1_component_path(component) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_api_v1_component_path %>
